in this code we are going to scrape real time data frm a website 

create a data frame using pandas and export it to a csv file

In [1]:
#import essential libraries inn ordre to scrape data
from bs4 import BeautifulSoup
import requests

In [33]:
#get the page using the requests package by speifying the url
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'

html_content = requests.get(url)
soup = BeautifulSoup(html_content.text,'html')  #parse the content of the webpage with beautiful soup

In [68]:
table = soup.find_all('table')[1]
#this is to find content in a html page,as i have wanted to extract information from a table i sprecified the table tag,also i specified a number based on list indexing since i'm intrested to extract information from second table on that page

In [69]:
column_titles = table.find_all('th')    #to extract headings from the table
#do not forget to use the variable name as object as using soup again will fetch content from all over the page

In [70]:
column_titles_list = [title.text.strip() for title in column_titles]
#run a loop over the extracted headings and store them in a list

In [71]:
print(column_titles_list)

['Rank', 'Name', 'Industry', 'Revenue(in  ₹ Crore)', 'Revenue growth', 'Profits(in  ₹ Crore)', 'Headquarters', 'State Controlled']

In [74]:
import pandas as pd
#import pandas to create datframes and  perform data manipulation tasks.
#assign our list of headings as column names to a new dataframe
df = pd.DataFrame(columns=column_titles_list)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue(in  ₹ Crore), Revenue growth, Profits(in  ₹ Crore), Headquarters, State Controlled]
Index: []

In [89]:
#repeat the same process to dive in deep toextract table rows from table and table data from table rows
column_data = table.find_all('tr')
for row in column_data[1:]:
    row_data =row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    #on every iteration continue to assign the extracted data to the dataframe using the loc function
    length = len(df)
    df.loc[length] = individual_row_data

In [90]:
df
#overview your dataframe to avoid possible mistakes

,Rank,Name,Industry,Revenue(in ₹ Crore),Revenue growth,Profits(in ₹ Crore),Headquarters,State Controlled
0,1,Indian Oil Corporation,Oil and gas,"424,321",13.2%,"22,189",New Delhi,Yes
1,2,Reliance Industries Limited,Oil and gas,"410,295",28.2%,"36,075",Mumbai,
2,3,Oil and Natural Gas Corporation,Oil and gas,"333,143",11.0%,"22,106",New Delhi,Yes
3,4,State Bank of India,Banking,"306,528",2.6%,"−4,556",Mumbai,Yes
4,5,Tata Motors,Automotive,"301,175",7.9%,"8,989",Mumbai,
5,6,Bharat Petroleum,Oil and gas,"238,638",13.7%,"9,009",Mumbai,Yes
6,7,Hindustan Petroleum,Oil and gas,"221,693",13.4%,"7,218",Mumbai,Yes
7,8,Rajesh Exports,Gems and jewellery,"187,748",22.5%,"1,266",Bangalore,
8,9,Tata Steel,Iron and steel,"147,192",25.3%,"13,434",Mumbai,
9,10,Coal India,Metals and mining,"132,897",5.3%,"7,020",Kolkata,Yes
10,11,Tata Consultancy Services,Infotech,"126,745",3.6%,"25,826",Mumbai,
11,12,Larsen & Toubro,Capital goods,"122,743",10.6%,"7,370",Mumbai,
12,13,Hindalco Industries,Metals and mining,"120,428",15.5%,"6,083",Mumbai,
13,14,ICICI Bank,Banking,"118,969",4.9%,"7,712",Mumbai,
14,15,Vedanta Resources,Metals and mining,"102,192",30.8%,"10,342","London, UK",
15,16,HDFC Bank,Banking,"101,344",17.6%,"18,510",Mumbai,
16,17,Mahindra & Mahindra,Automotive,"96,377",12.2%,"7,510",Mumbai,
17,18,NTPC Limited,Utilities,"90,144",7.7%,"10,544",New Delhi,Yes
18,19,Bharti Airtel,Telecommunication,"86,704",13.0%,"1,099",New Delhi,
19,20,Maruti Suzuki India,Automotive,"81,978",15.6%,"7,880",New Delhi,
20,21,Infosys,Infotech,"73,762",3.1%,"16,029",Bangalore,
21,22,Nayara Energy,Oil and gas,"73,015",10.7%,576,Mumbai,
22,23,HDFC,Financials,"72,596",18.9%,"16,255",Mumbai,
23,24,JSW Steel Ltd,Iron and steel,"70,148",22.6%,"6,214",Mumbai,
24,25,Axis Bank,Banking,"58,477",1.5%,456,Mumbai,Yes
25,26,Steel Authority of India,Iron and steel,"57,626",28.8%,−281,New Delhi,Yes
26,27,Punjab National Bank,Banking,"57,608",0.7%,"−12,130",New Delhi,Yes
27,28,Grasim Industries,Diversified,"57,273",54.9%,"2,679",Mumbai,
28,29,Wipro,Infotech,"56,986",1.6%,"8,003",Bangalore,
29,30,Motherson Sumi Systems,Automotive,"56,839",32.7%,"1,597",Noida,
30,31,GAIL,Oil and gas,"55,503",11.6%,"4,799",New Delhi,Yes
31,32,Bank of Baroda,Banking,"54,048",3.1%,"−1,887",Vadodara,Yes
32,33,HCL Technologies,Infotech,"51,695",6.3%,"8,721",Noida,
33,34,MRPL,Oil and gas,"50,209",8.9%,"1,993",Mangalore,Yes
34,35,Canara Bank,Banking,"48,743",1.2%,"−3,951",Bangalore,Yes
35,36,ITC Limited,Consumer goods,"44,674",1.6%,"11,271",Kolkata,
36,37,Bank of India,Banking,"44,158",4.8%,"−5,961",Mumbai,Yes
37,38,General Insurance Corporation of India,Insurance,"43,555",38.9%,"3,146",Mumbai,Yes
38,39,Kotak Mahindra Bank,Banking,"38,813",14.2%,"6,201",Mumbai,
39,40,Union Bank of India,Banking,"38,413",0.4%,"−5,212",Mumbai,Yes
40,41,Hindustan Unilever,Consumer goods,"36,088",7.1%,"5,214",Mumbai,
41,42,Vodafone India,Telecommunication,"34,855",18.9%,"7,766",Mumbai,
42,43,Tata Power,Utilities,"33,213",12.8%,"2,477",Mumbai,
43,44,Chennai Petroleum Corporation,Oil and gas,"33,187",20.0%,927,Chennai,Yes
44,45,Hero MotoCorp,Automotive,"33,141",12.9%,"3,720",New Delhi,
45,46,Tech Mahindra,Infotech,"32,190",7.6%,"3,800",Pune,
46,47,UltraTech Cement,Cement,"32,106",23.7%,"2,222",Mumbai,
47,48,Petronet LNG,Oil and gas,"30,949",23.9%,"2,110",New Delhi,Yes
48,49,Power Grid Corporation of India,Utilities,"30,908",16.1%,"8,198",Gurgaon,Yes
49,50,Bajaj Finserv,Financials,"30,599",24.9%,"2,741",Pune,

In [91]:
#as you have created a dataframe,now try copying the dataframe as data to a csv file
df.to_csv(r'C:/Users/nithin sudheer/my vs codes/web scraping/created_data.csv',index=False)
#do not forget to mention the index as false as it will create an additional column in the dataset with no header and it is totally your choice